<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode />
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <!-- Allow uploads up to 100MB (104,857,600 bytes) -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="E:\inetpub\silly-bhabha.103-69-196-157.plesk.page\tmp" />
    <!-- Allow uploads up to 100MB (102400 KB) -->
    <httpRuntime maxRequestLength="102400" />
  </system.web>
</configuration>
